html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  box-sizing: border-box;
}

.main-container {
  width: 50%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}


.main-container h1 {
  text-align: center;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}

p{
  text-align: center;
  margin: 3px 0;
  font-size: 17px;
}

.chatFilter {
display: block;
margin: 0 auto;
}

.messages-container {
  border: 1px solid black;
  background-color: #EAEAEA;
  text-align: center;
  align-items: center;
}

.messages {
  border: 1px solid black;
}
